ion-toolbar{
    --background: #fff url('../../assets/img/toolbar.jpg') no-repeat center center / cover;
    --color: rgb(139, 36, 36);
}

ion-content {
    --background: #fff url('../../assets/img/sol2.jpg') no-repeat center center / cover;
    --overflow: hidden;
  
}